body {
	max-width: 1000px;
	float: none;
	margin: auto;
	padding: 0px;
	justify-content: center;
	align-items: center;
}

	

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
}

.showcase {
	position:absolute;
	right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #FFEA00;
	color: #fff;
	z-index: -2;
}
.toogle {
	position: relative;
	width: 60px;
	height: 60px;
	background: url('file:///C:/Users/USER%20PC/Desktop/Isibonelo%20Secondary/pictures/menu-icon-png-3-lines-11552739310fjzs2n2wxt.png');
	background-repeat: no-repeat;
	background: 30px;
	background-position: top-right;
	cursor: pointer;
}
.showcase video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFEA00;
	mix-blend-mode: overlay;
}

@media (max-width: 991px;) {
	.showcase {
		padding: 40px;
	}
	
	.text h2 {
		font-size: 3em;
	}
	
	.text h3 {
		font-size: 2em;
	}
}
	
	
	
h1,h2,h3,h4,h5,h6 {
	font-family: 'Oswald', sans-serif;
	padding: 10px;
}
p  {
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 1.3em;
}
a  {
	font-family: 'Oswald', sans-serif;
	font-size:1.3em;
}
.header {
	height: 1000vh;
	width: 500%;
	display: inline-block;
	background-position: center;
	background-size: cover;
	position: relative;
	background-color: #111;
}

.video {
	align-video: center;
}
.aside-left {
	width: 20%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: ;
}
.nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center
	background-color: #111;
}
nav image{
	width: 150px;
}
.nav-links{
	flex:1;
	text-allign: right;
}
	
.aside-left {
	width: 20%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #FFEA00;
}

.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s
}
@media(max-width: 700px){
	.text-box h1{
		font-size: 20px
	}
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
	
main {
	width: 60%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #FFEA00;
	padding: 4px;
	align: center;
	font-weight: var(--fw-bold);
	font-color: #fff;
}

text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
p1 {
	font-family: 'Oswald',sans-serrif;
	font-size: 1.3em;
}
p2 {
	font-family: 'Oswald' , sans-serif;
	font-size: 1.3em;
}
	
aside {
	width: 20%;
	float: right;
	display: block;
	min-height: 200px;
	background-color: #FFEA00;
}
.bottom{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	allign-items: center;	
}
.slideshow-container{
	width: 700px;
	height: 400px;
	overflow: hidden;
	border-radius: 10px;
}
.middle{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.navigation{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
}
.bar{
	width: 50px;
	height: 10px;
	border: 2px solid #fff;
	margin: 6px;
	cursor: pointer;
	transition: 0.4s;
}
.bar:hover{
	background: #fff;
}

input[name="r"]{
	position: absolute;
	visibility: hidden;
}

.banner { 

	width: 1000%;
	height: 700vh;
	overflow: hidden;
	displat: flex;
	justify-content: center;
	align-items: center;
}
.banner-video {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

	
	
/* footer */
.footer {
	width: 100%;
	display: inline-block;
	background-color: #111;
	padding: 2.5em 0;
}
.left-footer {
	width: 34%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #111;
	color: #fff;
}
.center-footer {
	width: 33%;
	float: left;
	display: block;
	min-height: 200px;
	background-color: #111;
	color: #fff;
}
.right-footer {
	width: 33%;
	float: right;
	display: block;
	min-height: 200px;
	background-color: #111;
	color: #fff;
}
.copyright {
	width: 100%;
	display: inline-block;
	background-color: #fff;
	color: #fff;
}



/* Menu CSS */

.topnav {
  background-color: #111;
  overflow: hidden;
}


.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #04AA6D;
  color: white;
}


.topnav .icon {
  display: none;
}


